.contact {
  text-align: center;
  padding: 30vh 10vw 0 10vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  .contact {
    padding: 30vh 25vw 0 25vw;
    min-height: 50vh;
  }
}