.resume {
    text-align: center;
    padding-top: 20vh;
    min-height: 80vh;
    width: 95vw;
}
.sub-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 30vh;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}
.title {
  margin: 0;
  flex: 1;
  margin-bottom: 10vh;
  text-align: left;
}

@media only screen and (min-width: 769px) {
  .resume {
    max-width: 90vw;
  }
  .sub-section {
    flex-direction: row;
    gap: 10vw;
  }
  .content-left {
    text-align: right;
  }
  .reverse {
    flex-direction: row-reverse;
    gap: 10vw;
  }
  .title-left {
    text-align: right;
  }
}