body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowContainer {
  display: flex;
  justify-content: left;
}

.rowName {
  flex: 1;
  display: flex;
  max-width: 30vw;
  font-weight: bold;
}
.rowValue {
  flex: 1;
  display: flex;
}
